#{extends 'main.html' /}
#{set title:'Home' /}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">${play.configuration['application.name']}</h1>
        <p>
            <a class="btn btn-primary btn-lg" href="/twitter/auth" role="button"><i class="fa fa-twitter" aria-hidden="true"></i> Import Twitter</a>
            <a class="btn btn-danger btn-lg" href="/google/auth" role="button"><i class="fa fa-google" aria-hidden="true"></i> Import Google</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Filtrage des contacts</h4>

            <form action="/" method="post">
                <div class="row">
                    <div class="col-md-5">
                        <label for="importer">Importé depuis</label>
                        <select class="form-control" id="importer" name="importer">
                            <option value="">-</option>
                            <option value="twitter">Twitter</option>
                            <option value="google">Google</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label for="name">Nom du contact</label>
                        <input type="text" class="form-control" id="name" name="name" value="${nameFilter}"/>
                    </div>
                    <div class="col-md-2">
                        <br>
                        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Filtrer</button>
                    </div>
                </div>
            </form>

            <br>

            #{if importerFilter}
                <div class="col-md-12">
                    Résultat de recherche pour les importations depuis <i>${importerFilter}</i>
                </div>
            #{/if}
            #{if nameFilter}
                <div class="col-md-12">
                    Résultat de recherche pour le nom <i>${nameFilter}</i>
                </div>
            #{/if}

            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Liste de vos contacts</h2>
        </div>
    </div>

    <div class="row">
    #{list items:contacts, as:'contact'}

        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="${contact.logoUrl}" alt="Profil">
            <div class="card-body">
                <h5 class="card-title cut">${contact.name}</h5>

                <p><i style="color: #1c94c4">${contact.importer}</i></p>

                #{if contact.location != ""}
                    <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> ${contact.location}</p>
                #{/if}


                #{if contact.locationGeoNames != null}
                    <p class="card-text"><i class="fa fa-location-arrow" aria-hidden="true"></i> ${contact.locationGeoNames.lat}
                        , ${contact.locationGeoNames.lon}</p>
                    <div class="text-center">
                        <a href="https://www.google.com/maps/search/${contact.locationGeoNames.lat}, ${contact.locationGeoNames.lon}" class="btn btn-info"
                           target="_blank">
                            <i class="fa fa-map-o" aria-hidden="true"></i> Carte
                        </a>
                        </p>
                    </div>
                #{/if}
            </div>
        </div>
    #{/list}
    #{else}
        <hr/>
        <div class="col-md-12 text-center">
            <p>Aucun contact n'existe. Veuillez en importer.</p>
        </div>
    #{/else}
    </div>
    <hr/>
</div>


