#{extends 'main.html' /}
#{set title:'Home' /}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">${play.configuration['application.name']}</h1>
        <p><a class="btn btn-primary btn-lg" href="/twitter/auth" role="button"><i class="fa fa-twitter" aria-hidden="true"></i> Import Twitter</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        #{list items:contacts, as:'contact'}
        <div class="col-md-3 text-center" style="min-height: 200px;border: 1px solid black;">
            <div>
                <img src="${contact.logoUrl}"/>
                <h2>${contact.name}</h2>
                <p>${contact.location}</p>
            </div>
        </div>
        #{/list}
        #{else}Aucun contact n'existe. Veuillez en importer.#{/else}
    </div>
    <hr/>
</div>


