#{extends 'main.html' /}
#{set title:'Home' /}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">${play.configuration['application.name']}</h1>
        <p><a class="btn btn-primary btn-lg" href="/twitter/auth" role="button"><i class="fa fa-twitter" aria-hidden="true"></i> Import Twitter</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        #{list items:contacts, as:'contact'}

            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="${contact.logoUrl}" alt="Profil">
                <div class="card-body">
                    <h5 class="card-title cut">${contact.name}</h5>
                    <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> ${contact.location}</p>
                    <p class="card-text"><i class="fa fa-location-arrow" aria-hidden="true"></i> ${contact.locationGeoNames.lat}, ${contact.locationGeoNames.lon}</p>
                    <div class="text-center">
                        <a href="https://www.google.com/maps/search/${contact.locationGeoNames.lat}, ${contact.locationGeoNames.lon}"><button class="btn btn-info"><i class="fa fa-map-o" aria-hidden="true"></i> Carte</button></a></p>
                    </div>
                </div>
            </div>

        #{/list}
        #{else}Aucun contact n'existe. Veuillez en importer.#{/else}
    </div>
    <hr/>
</div>


